spring:
  application:
    name: demo
  data:
    mongodb:
      uri: 'mongodb://localhost:27017/kafka-sample'
  kafka:
    bootstrap-servers: 'localhost:9092'
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
      properties:
        enable:
          idempotence: true
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringSerializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonSerializer
